<app-modal>
    <div modal-header>
        <h3 *ngIf="!moveId; then new else edit"></h3>
        <ng-template #new>
            <h3 class="font-bold mb-3">New Move</h3>
        </ng-template>
        <ng-template #edit>
            <h3 class="font-bold mb-3">Edit Move</h3>
        </ng-template>
    </div>
    <div modal-body>
        <form [formGroup]="moveForm" (ngSubmit)="onSubmit(moveForm.value)" class="p-2">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Type
                    <span class="text-red-500 mr-2">*</span>
                </label>
                <div class="relative">
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="type" formControlName="type" (change)="updateCategory(moveForm.value.type)" required>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
        
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username"
                 [ngClass]="{'text-red-700': amount.invalid && (amount.dirty || amount.touched)}">
                    Amount
                    <span class="text-red-500 mr-2">*</span>
                </label>
        
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                 id="amount" type="number" formControlName="amount" required />
        
                <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                    <p *ngIf="amount.errors.required" class="text-red-500 text-sm italic">The amount is required.</p>
                </div>
            </div>
        
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username"
                 [ngClass]="{'text-red-700': category.invalid && (category.dirty || category.touched)}">
                    Category
                    <span class="text-red-500 mr-2">*</span>
                </label>
        
                <div class="relative">
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="category" formControlName="category" (change)="updateCategory(moveForm.value.type)" required>
                    <option value="" disabled selected>-- Select category --</option>    
                    <option *ngFor="let category of selectedCategories" [ngValue]="category._id">
                            {{category.name}}
                        </option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
        
                <div *ngIf="category.invalid && (category.dirty || category.touched)">
                    <p *ngIf="category.errors.required" class="text-red-500 text-sm italic">The category is required.</p>
                </div>
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Description
                </label>
                <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="description" type="text" formControlName="description" />
            </div>
        
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username"
                 [ngClass]="{'text-red-700': date.invalid && (date.dirty || date.touched)}">
                    Date
                    <span class="text-red-500 mr-2">*</span>
                </label>
                
                <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="date" type="date" formControlName="date" required />
                
                <div *ngIf="date.invalid && (date.dirty || date.touched)">
                    <p *ngIf="date.errors.required" class="text-red-500 text-sm italic">The date is required.</p>
                </div>
            </div>
        
            <div class="flex justify-between items-center">
                <div>
                    <a href="/home">
                        <button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button">Cancel</button>
                    </a>
                </div>
        
                <div>
                    <button (click)="onDelete()" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 mr-2 rounded" type="button">Remove</button>
                    <button *ngIf="!isLoading" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save</button>
                    <button *ngIf="isLoading" class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-not-allowed" type="button" disabled>
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Processing
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div modal-footer></div>
</app-modal>